<div id="petr">      </div> <!-- div avec id de la map -->
<button ng-click="life.toolbaropen = !life.toolbaropen" class="fix-tr" ng-if="!life.toolbaropen" style="z-index: 5"><i class="fa fa-outdent"></i></button>
<div id="toolbar" class="col-3 fix-tr bg-base1" style="height: 100%; z-index: 5" ng-if="life.toolbaropen">
  <button ng-click="life.toolbaropen = !life.toolbaropen"class="fl"><i class="fa fa-indent"></i></button>
  <button class="fr"> <a class="page" HREF="http://localhost:3001/#/login/"><i class="fa fa-sign-in"></i></a> </button>
  <button class="fr"> <a class="page" HREF="http://localhost:3001/#/admin/"><i class="fa fa-lock"></i></a> </button>
  <button class="fr"> <a class="page" HREF="http://localhost:3001/#/upload/"><i class="fa fa-upload"></i></a> </button>
  <br><br><br>
  <FORM class="checking" id="checking">
    <p class="toolbartitle">Types de points d'interêt</p>
    <br>
    <INPUT id="institution" type="checkbox" name="institution" value="1" ng-model="checki"> <label for="institution" class="checkbox">Institutions </label><br>
    <INPUT id="touristic" type="checkbox" name="touristic" value="2" ng-model="checkt"> <label for="touristic" class="checkbox">Lieux Touristiques </label><br>
    <INPUT id="entreprise" type="checkbox" name="entreprise" value="3" ng-model="checke"> <label for="entreprise" class="checkbox">Entreprises </label><br>
  </FORM>
</div>
