<head>
  <button class="fr"> <a class="page" HREF="http://localhost:3001/#/"><i class="fa fa-home"></i></a> </button>
  <button class="fr"> <a class="page" HREF="http://localhost:3001/#/admin/"><i class="fa fa-lock"></i></a> </button>
  <button class="fr"> <a class="page" HREF="http://localhost:3001/#/upload/"><i class="fa fa-upload"></i></a> </button>
</head>

<div class="form col-6 bg-base1 txt-c centered-hv">
  <h1>Login to your account</h1>
  <form>
    <div class="input-group">
      <input type="text" placeholder="Username" ng-model="new.username"/><br>
    </div>
    <div class="input-group">
      <input type="password" placeholder="Password" ng-model="new.password"/><br>
    </div>
    <div class="input-group">
      <a href="" ng-click="auth.login(new)"><button><i class="fa fa-sign-in"></i>&nbsp;Login</button></a><br><br>
    </div>
  </form>
</div>
