<div class="form col-6 bg-base1 txt-c centered-hv">
  <h1> Upload a data file </h1>
  <form>
    <div class="input-group">
      <label for="mon_fichier">File to upload..&nbsp;<i class="fa fa-laptop" aria-hidden="true"></i></label>
    </div>
    <div class="input-group">
      <input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
    </div>
    <div class="input-group">
      <input type="file" name="mon_fichier" id="mon_fichier" />
    </div>
    <div class="input-group">
      <button><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Upload</button>
    </div>
  </form>
</div>
